.toTopBtn {
  cursor: pointer;
  z-index: 1000;
}

.circle {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  background-color: var(--secondary-color);
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: var(--primary-color);
  border-radius: 50%;
}

.dashed {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  width: 60px;
  height: 60px;
  background-color: transparent;
  border: 3px var(--primary-color) dashed;
  border-radius: 50%;
  transform: translate(-8%, -8%);
}

.circle i {
  animation-name: stretch;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-play-state: running;
}

@keyframes stretch {
  0% {
    transform: scale(0.98);
  }

  100% {
    transform: scale(1.1);
  }
}
