.main {
  background-color: #fff;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main .hero {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--hero-color);
}

.main .hero .content .small-title {
  font-family: var(--primary-ff);
  color: var(--secondary-color);
  font-weight: 600;
  font-size: var(--typography5-font-size);
  padding-top: 200px;
}

.main .hero .content .title {
  font-family: var(--primary-ff);
  color: var(--primary-color);
  font-weight: 700;
  font-size: var(--typography6-font-size);
  padding-top: 15px;
  padding-bottom: 200px;
}

.main .hero .content .title span {
  color: var(--secondary-color);
}

/* info1 */

.main .info1 {
  width: 75vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-block: 90px;
}

.main .info1 .text {
  font-size: var(--typography3-font-size);
  font-family: var(--primary-ff);
  opacity: 0.7;
  letter-spacing: 1.3px;
  line-height: 40px;
}

.main .info1 ol,
.main .info1 ul {
  font-size: var(--typography3-font-size);
  font-family: var(--primary-ff);
  opacity: 0.7;
  letter-spacing: 1.3px;
  line-height: 40px;
  margin-left: 50px;
}
