.polaroid {
  width: 250px;
  height: 330px;
}

.polaroid a {
  position: relative;
  width: 250px;
  height: 330px;
  font-size: 15px;
  background: #ffffff;
  display: inline-block;
  padding: 15px 15px 20px;
  text-decoration: none;
  -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.title {
  color: #171717;
}

.polaroid a img {
  margin: auto;
  display: block;
  /* max-width: 100%; */
  width: 100%;
  margin-bottom: 15px;
}

.polaroid a:hover {
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.7);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.7);
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

@media only screen and (max-width: 410px) {
  .polaroid a {
    width: 85%;
    height: 300px;
  }
}
