@model Projekat_Teretana.Models.BO.RacuniBO

@{
    ViewData["Title"] = "Dodaj";
}

<h1>Dodaj</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Clan" class="control-label"></label>
                <input asp-for="Clan" class="form-control" />
                <span asp-validation-for="Clan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cena" class="control-label"></label>
                <input asp-for="Cena" class="form-control" />
                <span asp-validation-for="Cena" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Datum" class="control-label"></label>
                <input asp-for="Datum" class="form-control" />
                <span asp-validation-for="Datum" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Dodaj" class="btn btn-success" /> |
                <a asp-action="Index" class="btn btn-primary">Odustani</a>
            </div>
        </form>
    </div>
</div>
