.backdrop {
  width: 100vw;
  height: 100%;
  background-color: rgb(0 0 0 / 0.2);
  z-index: 80;
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  position: relative;
  width: 50%;
  background-color: #fff;
  padding: 30px 50px;
  border-radius: 10px;
}

.box h2 {
  font-size: 35px;
  margin-bottom: 20px;
}

.box .info {
  font-size: 20px;
  padding: 15px;
  letter-spacing: 0.8px;
  line-height: 25px;
}

.box .warrning {
  margin-top: 15px;
  padding: 10px 15px;
  font-size: 17px;
  background-color: rgb(0 0 0 / 0.1);
}

.box .buttons {
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box .buttons .btn {
  border-radius: 15px;
  background-color: rgb(0 0 0 / 0.8);
  color: #fff;
  padding: 15px 50px;
  font-size: 20px;
  margin: 15px;
}

.box .buttons .btn:hover {
  background-color: #ff9600;
  border-color: #ff9600;
  color: #171717;
}
.box .buttons .btn:active {
  transform: scale(0.98);
}

.box .buttons i {
  margin-left: 5px;
}
