.login {
  width: 100vw;
  height: 100vh;
  background-color: #eee;
  display: grid;
  place-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: #171717;
  padding: 20px;
  border: 1px solid #3d3c3c;
  border-radius: 10px;
  color: white;
  text-align: center;
  font-size: 20px;
}

.form input {
  height: 35px;
  outline: none;
  border: 2px solid #ff9600;
  background: transparent;
  padding: 20px 10px;
  border-radius: 5px;
  transition: 0.5s;
  color: white;
  font-size: 20px;
}

.form input:focus {
  background: white;
  color: #171717;
}

.form button {
  width: 100%;
  color: white;
  transition: 0.5s;
  font-size: 20px;
  outline: none;
  border: none;
  height: 45px;
  border-radius: 5px;
  background: #ff9600;
  align-self: flex-end;
  cursor: pointer;
}
