.container {
  background-color: #fff;
  width: 350px;
  border-radius: 8px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: inset 0px 0px 8px 0px rgba(0, 0, 0, 0.75);
  margin-inline: 30px;
}

.container .image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-top: 20px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.container .title {
  margin-top: 40px;
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 1px;
}

.container .text {
  max-width: 80%;
  margin-top: 30px;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 25px;
  text-align: center;
  margin-bottom: 20px;
}

@media (max-width: 1424px) {
  .container .title {
    font-size: 22px;
  }
}

@media (max-width: 1327px) {
  .container .title {
    font-size: 20px;
  }
}

@media (max-width: 1253px) {
  .container {
    width: 250px;
    margin-inline: 15px;
  }

  .container .image {
    width: 100px;
    height: 100px;
  }

  .title {
    margin-bottom: 20px;
  }

  .text {
    display: none;
  }
}

@media (max-width: 860px) {
  .container {
    width: 220px;
    margin-inline: 15px;
  }

  .container .image {
    width: 100px;
    height: 100px;
  }

  .title {
    margin-bottom: 20px;
  }

  .text {
    display: none;
  }
}

@media (max-width: 750px) {
  .container {
    width: 180px;
    margin-inline: 15px;
  }

  .container .image {
    width: 100px;
    height: 100px;
  }
}

@media (max-width: 550px) {
  .container {
    width: 140px;
    margin-inline: 7px;
  }

  .container .title {
    font-size: 17px;
  }

  .container .image {
    width: 100px;
    height: 100px;
  }
}

@media (max-width: 475px) {
  .container {
    width: 125px;
    margin-inline: 7px;
  }

  .container .image {
    width: 80px;
    height: 80px;
    margin-bottom: 0;
  }
}

@media (max-width: 417px) {
  .container {
    width: 115px;
    margin-inline: 5px;
  }

  .container .image {
    width: 90px;
    height: 90px;
    margin-top: 0;
  }
}
