.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.datum {
  margin-top: 30px;
  margin-bottom: 30px;
  font-weight: lighter;
}

.title {
  max-width: 650px;
  text-align: center;
  margin-bottom: 40px;
  font-size: 40px;
}

.tekst {
  max-width: 650px;
  letter-spacing: 1px;
  font-size: 17px;
  word-break: break-all;
}

.image {
  margin: 40px 0;
  border-radius: 7px;
}

.wrapper {
  background-color: #eee;
  width: 100vw;
  height: 100vh;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media only screen and (max-width: 480px) {
  .page {
    text-align: center;
  }

  .datum {
    margin-top: 80px;
  }

  .title,
  .tekst {
    max-width: 90%;
  }
}

@media only screen and (min-width: 481px) and (max-width: 1100px) {
  .page {
    width: 80%;
    margin: auto;
    text-align: center;
  }

  .datum {
    margin-top: 80px;
  }
}
