.main {
  background-color: #fff;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}

.main .hero {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--hero-color);
}

.main .hero .content {
  text-align: center;
}

.main .hero .content .small-title {
  font-family: var(--primary-ff);
  color: var(--secondary-color);
  font-weight: 600;
  font-size: var(--typography5-font-size);
  padding-top: 200px;
}

.main .hero .content .title {
  font-family: var(--primary-ff);
  color: var(--primary-color);
  font-weight: 700;
  font-size: var(--typography6-font-size);
  padding-top: 15px;
  padding-bottom: 200px;
}

.main .hero .content .title span {
  color: var(--secondary-color);
}

/* info1 */

.main .info1 {
  width: 85vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-block: 90px;
}

.main .info1 .text {
  font-size: var(--typography3-font-size);
  font-family: var(--primary-ff);
  opacity: 0.7;
  letter-spacing: 1.3px;
  line-height: 40px;
}

.main .info1 .title {
  font-size: var(--typography4-font-size);
  font-family: var(--primary-ff);
  font-weight: 700;
  color: var(--primary-color);
  margin-block: 50px;
}

@media (max-width: 1000px) {
  .main {
    background-color: #fff;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .main .hero {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--hero-color);
  }

  .main .hero .content .small-title {
    font-family: var(--primary-ff);
    color: var(--secondary-color);
    font-weight: 600;
    font-size: var(--typography5-font-size);
    padding-top: 200px;
  }

  .main .hero .content .title {
    font-family: var(--primary-ff);
    color: var(--primary-color);
    font-weight: 700;
    font-size: 50px;
    padding-top: 15px;
    padding-bottom: 200px;
  }

  .main .hero .content .title span {
    color: var(--secondary-color);
  }

  /* info1 */

  .main .info1 {
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-block: 90px;
  }

  .main .info1 .text {
    font-size: var(--typography3-font-size);
    font-family: var(--primary-ff);
    opacity: 0.7;
    letter-spacing: 1.3px;
    line-height: 40px;
  }

  .main .info1 .title {
    font-size: var(--typography4-font-size);
    font-family: var(--primary-ff);
    font-weight: 700;
    color: var(--primary-color);
    margin-block: 50px;
  }
}

@media (max-width: 700px) {
  .main {
    background-color: #fff;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .main .hero {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--hero-color);
  }

  .main .hero .content .small-title {
    font-family: var(--primary-ff);
    color: var(--secondary-color);
    font-weight: 600;
    font-size: 16px;
    padding-top: 100px;
  }

  .main .hero .content .title {
    font-family: var(--primary-ff);
    color: var(--primary-color);
    font-weight: 700;
    font-size: 30px;
    padding-top: 15px;
    padding-bottom: 100px;
  }

  .main .hero .content .title span {
    color: var(--secondary-color);
  }

  /* info1 */

  .main .info1 {
    width: 85vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-block: 30px 0px;
  }

  .main .info1 .text {
    font-size: 16px;
    font-family: var(--primary-ff);
    opacity: 0.7;
    letter-spacing: 1.3px;
    line-height: 30px;
  }

  .main .info1 .title {
    font-size: 30px;
    font-family: var(--primary-ff);
    font-weight: 700;
    color: var(--primary-color);
    margin-block: 30px;
  }
}
