.jezik {
  width: 80%;
  margin: auto;
  border-radius: 7px;
  padding: 30px;
  margin-block: 30px;
  background-color: white;
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}

.jezik h2 {
  border-bottom: solid 2px #171717;
  letter-spacing: 1px;
  margin-bottom: 15px;
}

.lngBtn {
  display: inline-block;
  font-size: 20px;
  font-weight: lighter;
  color: white;
  background-color: #171717;
  border: none;
  padding: 7px 15px;
  border-radius: 7px;
  cursor: pointer;
  transition: all 0.5s;
  letter-spacing: 0.5px;
  font-family: 'Poppins', sans-serif;
  margin: 15px 0;
  margin-right: 20px;
}

.lngBtn.active {
  display: inline-block;
  font-size: 20px;
  font-weight: lighter;
  color: white;
  background-color: #ff9600;
  border: none;
  padding: 7px 15px;
  border-radius: 7px;
  cursor: pointer;
  transition: all 0.5s;
  letter-spacing: 0.5px;
  font-family: 'Poppins', sans-serif;
  margin: 15px 0;
  margin-right: 20px;
}
