.container {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.views {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  margin-bottom: 40px;
}

.views ul {
  text-align: center;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 30px;
  gap: 25px;
}

.views ul li:nth-child(odd):hover {
  -webkit-transform: scale(1.02) rotate(1deg);
  -moz-transform: scale(1.02) rotate(1deg);
  transform: scale(1.02) rotate(1deg);
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.views ul li:nth-child(even):hover {
  -webkit-transform: scale(1.02) rotate(-1deg);
  -moz-transform: scale(1.02) rotate(-1deg);
  transform: scale(1.02) rotate(-1deg);
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.naslov {
  text-align: start;
  width: 85%;
  font-size: 30px;
  letter-spacing: 1px;
  border-bottom: 2px solid black;
  padding: 2px 10px;
  display: inline-block;
  margin-block: 30px;
}

@media only screen and (max-width: 1250px) {
  .container {
    width: 80%;
  }

  .views ul {
    padding: 0;
  }
}

@media only screen and (max-width: 570px) {
  .container {
    width: 100%;
  }
}

@media only screen and (min-width: 1340px) {
  .container {
    width: 75%;
  }
}
