.destinacije {
  width: 80%;
  margin: auto;
  border-radius: 7px;
  padding: 30px;
  margin-block: 30px;
  background-color: white;
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}

.destinacije h2 {
  border-bottom: solid 2px #171717;
  letter-spacing: 1px;
}

.destinacije ul {
  list-style: none;
  margin-top: 10px;
}

.destinacije ul li label {
  margin-left: 10px;
}

.destinacije h4 {
  margin-top: 10px;
  border-bottom: 2px solid #ddd;
  font-weight: lighter;
  font-size: 18px;
}

.destinacije input {
  margin-top: 10px;
  padding: 5px;
}

.destinacije input[type='radio'] {
  accent-color: black;
}

.destinacije select {
  width: 60%;
  padding: 5px;
  max-width: 60%;
  margin-top: 10px;
  margin-bottom: 30px;
}

.destinacije fieldset {
  border: 0;
}

.naslov {
  border-bottom: solid 2px #171717;
  letter-spacing: 1px;
  margin-bottom: 25px;
}

.naslovdest {
  width: 60%;
}

.adresadest {
  width: 60%;
}

.buttons {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
}

.btn {
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: #fff;
  font-size: 18px;
  margin: 5px;
  padding: 5px 20px;
  border: 2px solid black;
  transition: all 0.5s;
  font-family: 'Poppins', sans-serif;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

.btn:nth-child(1):hover {
  border: 2px solid green;
  color: green;
}
.btn:nth-child(2):hover {
  border: 2px solid #ff9600;
  color: #ff9600;
}
.btn:nth-child(3):hover {
  border: 2px solid rgb(255 0 0 / 0.8);
  color: rgb(255 0 0 / 0.8);
}

.btn:active {
  transform: scale(0.98);
}

.btn i {
  margin-left: 8px;
  padding: 5px 0;
}

.reset {
  background-color: #fff;
  cursor: pointer;
  padding: 5px 10px;
  margin-left: 3px;
}

.reset:hover {
  border-color: red;
  color: red;
}

.reset:active {
  transform: scale(0.97);
}

.confirm {
  background-color: #fff;
  padding: 5px 10px;
  cursor: pointer;
  margin-left: 3px;
}

.confirm:hover {
  border-color: green;
  color: green;
}

.confirm:active {
  transform: scale(0.97);
}

.imageDiv {
  display: flex;
  align-items: center;
}

.imageDiv img {
  margin-block: 20px;
  border-radius: 5px;
  border: 2px solid #ddd;
  width: 200px;
  height: 200px;
}
