.footer {
  width: 100vw;
  color: white;
  background-color: #171717;
  margin-top: 15px;
  padding: 20px;
}

.container {
  width: 65%;
  margin: auto;
  text-align: left;
}

.icons {
  width: 70px;
  margin: 20px 0;
}

.wrapper {
  margin-top: 70px;
  width: 100vw;
  display: flex;
  justify-self: center;
  align-items: center;
}

.banners {
  width: 60%;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 10px;
}

.banner {
  height: 120px;
  flex-basis: 120px;
  background-color: #eee;
  border-radius: 5px;
  display: grid;
  place-items: center;
}

.tm {
  width: 300px;
  margin: auto;
  margin-top: 10px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 1px;
}

.btn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn button {
  width: 140px;
  height: 56px;
  overflow: hidden;
  border: none;
  color: #171717;
  background: none;
  position: relative;
  padding-bottom: 1em;
  cursor: pointer;
}

.btn button > div,
.btn button > svg {
  position: absolute;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.btn button:before {
  content: '';
  position: absolute;
  height: 2px;
  bottom: 0;
  left: 0;
  width: 100%;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: bottom right;
  -ms-transform-origin: bottom right;
  transform-origin: bottom right;
  background: currentColor;
  -webkit-transition: -webkit-transform 0.25s ease-out;
  transition: -webkit-transform 0.25s ease-out;
  transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
}

.btn button:hover:before {
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transform-origin: bottom left;
  -ms-transform-origin: bottom left;
  transform-origin: bottom left;
}

.btn button .clone > *,
.btn button .text > * {
  opacity: 1;
  font-size: 1.3rem;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  margin-left: 4px;
}

.btn button .clone > * {
  -webkit-transform: translateY(60px);
  -ms-transform: translateY(60px);
  transform: translateY(60px);
}

.btn button:hover .clone > * {
  opacity: 1;
  -webkit-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
  transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

.btn button:hover .text > * {
  opacity: 1;
  -webkit-transform: translateY(-60px);
  -ms-transform: translateY(-60px);
  transform: translateY(-60px);
  -webkit-transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
  transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

.btn button:hover .clone > :nth-child(1) {
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}

.btn button:hover .clone > :nth-child(2) {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.btn button:hover .clone > :nth-child(3) {
  -webkit-transition-delay: 0.25s;
  transition-delay: 0.25s;
}

.btn button:hover .clone > :nth-child(4) {
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
/* icon style and hover */
.btn button svg {
  width: 20px;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(-50deg);
  -ms-transform: translateY(-50%) rotate(-50deg);
  transform: translateY(-50%) rotate(-50deg);
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

.btn button:hover svg {
  -webkit-transform: translateY(-50%) rotate(-90deg);
  -ms-transform: translateY(-50%) rotate(-90deg);
  transform: translateY(-50%) rotate(-90deg);
}

@media only screen and (min-width: 480px) and (max-width: 900px) {
  .banners {
    width: 90%;
  }
}

@media only screen and (max-width: 480px) {
  .banners {
    width: 80%;
  }
}
