.main {
  background-color: #fff;
  /* background-color: #f9fafb; */
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* info1 */

.main .info1 {
  width: 80vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 90px;
}

.main .info1 .content {
  width: 50%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 80px;
  gap: 25px;
}

.main .info1 .content .content-small-title {
  font-size: var(--typography5-font-size);
  font-family: var(--primary-ff);
  font-weight: 700;
  color: var(--secondary-color);
}

.main .info1 .content .content-title {
  font-size: var(--typography1-font-size);
  font-family: var(--primary-ff);
  font-weight: 700;
  color: var(--primary-color);
}

.main .info1 .content .content-title span {
  color: var(--secondary-color);
}

.main .info1 .content .content-text {
  font-size: var(--typography3-font-size);
  font-family: var(--primary-ff);
  opacity: 0.7;
  letter-spacing: 1.3px;
  line-height: 40px;
}

.main .info1 .image {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.main .info1 .image img {
  width: 85%;
  border-radius: 20px;
}

/* info2 */

.main .info2 {
  width: 80vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main .info2 .title {
  font-size: var(--typography2-font-size);
  font-family: var(--primary-ff);
  font-weight: 700;
  color: var(--primary-color);
  margin-bottom: 80px;
}

.main .info2 .content {
  width: 50%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 80px;
  gap: 25px;
}

.main .info2 .content .content-small-title {
  font-size: var(--typography3-font-size);
  font-family: var(--primary-ff);
  font-weight: 700;
  color: var(--secondary-color);
}

.main .info2 .content .content-title {
  font-size: var(--typography1-font-size);
  font-family: var(--primary-ff);
  font-weight: 700;
  color: var(--primary-color);
}

.main .info2 .content .content-text {
  font-size: var(--typography3-font-size);
  font-family: var(--primary-ff);
  opacity: 0.7;
  letter-spacing: 1.3px;
  line-height: 40px;
}

.main .info2 .content .content-text ul {
  padding-left: 30px;
}

.main .info2 .content .content-text ul li {
  margin-block: 15px;
}

.main .info2 .image {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.main .info2 .image img {
  width: 85%;
  border-radius: 20px;
}

/* info3 */

.main .info3 {
  width: 75vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-block: 90px;
}

.main .info3 .text {
  font-size: var(--typography3-font-size);
  font-family: var(--primary-ff);
  opacity: 0.7;
  letter-spacing: 1.3px;
  line-height: 40px;
}

.main .info3 ol {
  font-size: var(--typography3-font-size);
  font-family: var(--primary-ff);
  letter-spacing: 1.3px;
  opacity: 0.7;
  line-height: 40px;
  margin-left: 50px;
}

.main .info3 .title {
  font-size: 40px;
  font-family: var(--primary-ff);
  font-weight: 700;
  color: var(--primary-color);
  margin-block: 50px;
}
