.backdrop {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  z-index: 1000;
}

.backdrop .modal {
  margin-top: 50px;
  width: 800px;
  height: 500px;
  border-radius: 15px;
  background-color: #fff;
  position: relative;
}

.backdrop .modal ul {
  padding: 50px;
}

.backdrop .modal ul li {
  margin-block: 5px;
}

.backdrop .modal i {
  position: absolute;
  font-size: 30px;
  top: 10px;
  right: 10px;
  transition: all 0.2s;
}

.backdrop .modal i:hover {
  color: var(--accent-color);
}

@media (max-width: 1200px) {
  .backdrop .modal {
    margin-top: 50px;
    width: 95%;
    height: 80%;
    overflow-y: scroll;
    border-radius: 15px;
    background-color: #fff;
    position: relative;
  }

  .backdrop .modal ul {
    padding: 50px 30px;
  }
}
