.footer {
  background-color: var(--secondary-color);
  /* background-color: #a98467; */
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid var(--primary-color);
  width: 80vw;
  margin-top: 40px;
  padding-bottom: 40px;
}

.logo img {
  margin-inline: 45px;
  height: 150px;
}

.logo {
  width: 20%;
}

.links {
  width: 60%;
  height: 150px;
  display: flex;
  justify-content: space-between;
}

.links-items {
  margin-top: 20px;
}

.links-items ul {
  list-style: none;
}

.links-items ul li {
  margin-block: 15px;
  margin-left: 8px;
  text-align: start;
}

.links-items ul li a {
  font-size: 21px;
  text-decoration: none;
  letter-spacing: 1px;
  color: #f2e8cf;
  font-family: var(--primary-ff);
  transition: all 0.2s;
}

.links-items ul li a i {
  margin-right: 8px;
}

.links-items ul li a:hover {
  color: var(--hover-color);
}

.social {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  margin: 20px;
  transition: all 0.2s;
}

.social a {
  text-decoration: none;
}

.social i {
  display: block;
  font-size: 30px;
  margin-block: 10px;
  color: var(--primary-color);
  transition: all 0.2s;
  margin-right: 50px;
}

.social i:hover {
  color: var(--hover-color);
}

.copyright {
  margin-block: 20px;
  font-size: 19px;
  font-weight: 500;
  color: var(--primary-color);
}
