.footer {
  background-color: var(--secondary-color);
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid var(--primary-color);
  width: 80vw;
  margin-top: 40px;
  padding-bottom: 40px;
}

.left-side {
  height: 190px;
  display: flex;
  align-items: center;
}

.left-side img {
  margin: 20px;
  height: 150px;
}

.left-side ul {
  list-style: none;
}

.left-side ul li {
  margin-block: 20px;
  margin-left: 8px;
  text-align: start;
}

.left-side ul li a {
  font-size: 21px;
  text-decoration: none;
  letter-spacing: 1px;
  color: #f2e8cf;
  font-family: var(--primary-ff);
  transition: all 0.2s;
}

.left-side ul li a i {
  margin-right: 8px;
}

.left-side ul li a:hover {
  color: var(--hover-color);
}

.right-side {
  height: 190px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.right-side-items ul {
  list-style: none;
  margin-right: 100px;
}

.right-side-items ul li {
  margin-block: 20px;
  margin-left: 8px;
  text-align: start;
}

.right-side-items ul li a {
  font-size: 21px;
  text-decoration: none;
  letter-spacing: 1px;
  color: #f2e8cf;
  font-family: var(--primary-ff);
  transition: all 0.2s;
}

.right-side-items ul li a i {
  margin-right: 8px;
}

.right-side-items ul li a:hover {
  color: var(--hover-color);
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
}

.social a {
  text-decoration: none;
}

.social i {
  font-size: 30px;
  margin-block: 5px;
  color: var(--primary-color);
  transition: all 0.2s;
  margin-right: 20px;
}

.social i:hover {
  color: var(--hover-color);
}

.underfooter {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright {
  margin: 20px;
  font-size: 19px;
  font-weight: 500;
  color: var(--primary-color);
}

@media (max-width: 1415px) {
  .right-side {
    gap: 10px;
  }

  .right-side-items ul {
    list-style: none;
    margin-right: 50px;
  }
}

@media (max-width: 1281px) {
  .logo img {
    margin: 20px;
    height: 130px;
  }

  .links-items ul li a {
    font-size: 18px;
  }

  .social i {
    font-size: 25px;
  }
}

@media (max-width: 1108px) {
  /* big landscape tablets, laptops, and desktops */
  .logo img {
    margin: 20px;
    height: 130px;
  }

  .links-items ul li a {
    font-size: 16px;
  }

  .social i {
    font-size: 25px;
  }

  .right-side-items ul {
    margin-right: 20px;
  }
}

@media (max-width: 1012px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
  .right-side-items ul {
    margin-right: 10px;
  }
}

@media (max-width: 985px) {
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
  .right-side-items ul {
    margin-right: 5px;
  }

  .right-side-items ul li a,
  .left-side ul li a {
    font-size: 18px;
  }
}

@media (max-width: 890px) {
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
  .right-side-items ul {
    margin-right: 5px;
  }

  .right-side-items ul li a,
  .left-side ul li a {
    font-size: 16px;
  }

  .left-side img {
    display: none;
  }
}

@media (max-width: 618px) {
  /* smartphones, iPhone, portrait 480x320 phones */
  .container {
    width: 90vw;
  }

  .underfooter {
    width: 90%;
  }

  .right-side-items ul {
    margin-right: 5px;
  }

  .right-side-items ul li a,
  .left-side ul li a {
    font-size: 12px;
  }

  .left-side img {
    display: none;
  }

  .social i {
    font-size: 16px;
    margin-block: 5px;
  }

  .copyright {
    margin: 15px;
    font-size: 16px;
  }

  .left-side,
  .right-side {
    height: 150px;
  }
}

@media (max-width: 472px) {
  .social i {
    font-size: 15px;
    margin-block: 5px;
  }

  .copyright {
    margin: 15px;
    font-size: 12px;
  }
}

@media (max-width: 445px) {
  .right-side-items ul li a,
  .left-side ul li a {
    font-size: 10px;
  }

  .right-side-items ul li,
  .left-side ul li {
    margin-block: 15px;
    margin-left: 8px;
  }
}

@media (max-width: 366px) {
  .container {
    width: 95vw;
  }

  .underfooter {
    width: 95%;
  }
}
