.popup {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 220px;
}

.popup-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.popup-info img {
  border-radius: 7px;
  width: 150px;
  margin: auto;
}

.naslov {
  width: 150px;
  text-align: center;
  margin: 5px auto;
}

.adresa {
  text-align: center;
  margin-top: 7px;
}

.btn {
  font-family: 'Poppins', sans-serif;
  letter-spacing: 0.5px;
  font-size: 13px;
  font-weight: bolder;
  text-align: center;
  text-decoration: none;
  background-color: #ff9600;
  border-radius: 5px;
  margin-top: 15px;
  padding: 7px 15px;
  transition: all 0.2s;
}

.btn:hover {
  transform: scale(1.05);
  -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}
