body {
  padding-top: 56px;
  /* Da ne bi bio pokriven navbar-om */
}

thead {
  background-color: rebeccapurple;
}

.sticky-top {
  top: 55px; /* Visina navigacione trake */
}

.select-green {
  background-color: #aaf683;
  color: black;
}

.select-yellow {
  background-color: #ffd97d;
  color: black;
}

.error-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #f8f9fa;
}

.error-code {
  font-size: 6rem;
  font-weight: bold;
  color: #dc3545;
}

.error-message {
  font-size: 1.5rem;
}

.login-container {
  max-width: 400px;
  margin: 80px auto;
  padding: 30px;
  background: white;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
