.location {
  position: relative;
  max-width: 1300px;
  margin: auto;
  height: 500px;
  display: flex;
  justify-content: center;
}

.leaflet-container {
  border: 2px solid #111;
  border-radius: 10px;
  width: 80%;
  height: 100%;
  z-index: 1;
}

.leaflet-container a {
  color: #171717;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 7px;
  position: absolute;
  z-index: 1;
  top: 10px;
  right: 11%;
}

.switch {
  position: absolute;
  z-index: 90;
  bottom: 2%;
  left: 11%;
}

.checkbox {
  display: none;
}

.slider {
  width: 60px;
  height: 30px;
  background-color: lightgray;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  align-items: center;
  border: 4px solid transparent;
  transition: 0.3s;
  box-shadow: 0 0 10px 0 rgb(0, 0, 0, 0.25) inset;
  cursor: pointer;
}

.slider::before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background-color: #fff;
  transform: translateX(-30px);
  border-radius: 20px;
  transition: 0.3s;
  box-shadow: 0 0 10px 3px rgb(0, 0, 0, 0.25);
}

.checkbox:checked ~ .slider::before {
  transform: translateX(30px);
  box-shadow: 0 0 10px 3px rgb(0, 0, 0, 0.25);
}

.checkbox:checked ~ .slider {
  background-color: #ff9600;
}

.checkbox:active ~ .slider::before {
  transform: translate(0);
}

@media only screen and (min-width: 1341px) and (max-width: 1500px) {
  .location {
    width: 80%;
  }
}

@media only screen and (min-width: 1100px) and (max-width: 1340px) {
  .location {
    width: 85%;
  }
}

@media only screen and (max-width: 480px) {
  .location {
    width: 95%;
  }

  .leaflet-container {
    width: 97%;
  }

  .wrapper {
    position: absolute;
    top: 20px;
    right: 20px;
  }

  .switch {
    position: absolute;
    bottom: 2%;
    left: 5%;
  }
}

/* @media only screen and (min-width: 1350px) and (max-width: 1500px) {
  .wrapper {
    right: 130px;
  }
}

@media only screen and (min-width: 1250px) and (max-width: 1349px) {
  .wrapper {
    right: 120px;
  }
}

@media only screen and (min-width: 1100px) and (max-width: 1249px) {
  .wrapper {
    right: 115px;
  }
}

@media only screen and (min-width: 1000px) and (max-width: 1099px) {
  .wrapper {
    right: 115px;
  }
} */
