.hero {
  display: flex;
  width: 80vw;
  margin: auto;
  font-family: var(--primary-ff);
}

/* hero-content */

.hero .hero-content {
  width: 50%;
  height: 100%;
  padding: 70px 80px;
}

/* hero-content-title */

.hero .hero-content .hero-content-title {
  font-size: var(--typography1-font-size);
  font-weight: 700;
  color: var(--primary-color);
}

/* hero-content-text */

.hero .hero-content .hero-content-text {
  margin-top: 45px;
  margin-bottom: 60px;
  font-size: var(--typography3-font-size);
  opacity: 0.7;
  line-height: 35px;
}

/* hero-content-contact */

.hero .hero-content .hero-content-contact {
  background-color: var(--secondary-color);
  color: #fff;
  font-family: var(--primary-ff);
  padding: 15px 30px;
  font-size: var(--typography3-font-size);
  font-weight: 700;
  letter-spacing: 0.8px;
  border-radius: 20px;
  border: 3px solid var(--secondary-color);
  outline: none;
  cursor: pointer;
  transition: all 0.3s;
}

.hero .hero-content .hero-content-contact:hover {
  background-color: #fff;
  border: 3px solid var(--secondary-color);
  color: var(--secondary-color);
}

/* hero-image */

.hero .hero-image {
  width: 50%;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero .hero-image img {
  width: 80%;
  bottom: 0;
}

/* main */

.main {
  background-color: #fff;
  width: 100vw;
}

/* info */

.main .info1 {
  display: flex;
  margin: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-block: 90px;
}

.main .info1 .title {
  font-size: var(--typography2-font-size);
  font-family: var(--primary-ff);
  font-weight: 700;
  text-align: center;
  color: var(--primary-color);
  margin-bottom: 80px;
}

.main .info1 .content {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 35px;
}

.main .info1 .content .content-title {
  font-size: var(--typography4-font-size);
  font-family: var(--primary-ff);
  font-weight: 700;
  color: var(--primary-color);
}

.main .info1 .content .text {
  font-size: var(--typography3-font-size);
  max-width: 600px;
  font-family: var(--primary-ff);
  opacity: 0.7;
  letter-spacing: 1.3px;
  line-height: 31px;
}

.main .info1 .content .contact {
  margin: auto;
  background-color: var(--secondary-color);
  color: #fff;
  font-family: var(--primary-ff);
  padding: 15px 30px;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.8px;
  border-radius: 20px;
  border: 3px solid var(--secondary-color);
  outline: none;
  cursor: pointer;
  transition: all 0.3s;
}

.main .info1 .contact:hover {
  background-color: #fff;
  border: 3px solid var(--secondary-color);
  color: var(--secondary-color);
}

/* info2 */

.main .info2 {
  width: 80vw;
  display: flex;
  margin: auto;
}

.main .info2 .image {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.main .info2 .image img {
  width: 80%;
  border-radius: 45px;
}

.main .info2 .content {
  width: 50%;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.main .info2 .content .content-title {
  font-size: var(--typography2-font-size);
  line-height: 56px;
  font-family: var(--primary-ff);
  font-weight: 700;
  color: var(--primary-color);
}

.main .info2 .content .content-text {
  font-family: var(--primary-ff);
  letter-spacing: 1.5px;
  line-height: 30px;
  font-size: var(--typography3-font-size);
  opacity: 0.7;
  margin-top: 50px;
}

.main .info2 .content .content-free {
  font-size: var(--typography3-font-size);
  font-family: var(--primary-ff);
  margin-top: 60px;
  transition: all 0.2s;
}

.main .info2 .content .content-free:hover {
  color: var(--secondary-color);
}

.main .info2 .content .content-free i {
  margin-right: 8px;
}

/* info3 */

.main .info3 {
  width: 80vw;
  margin: auto;
  display: flex;
  margin-top: 70px;
}

.main .info3 .image {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.main .info3 .image img {
  width: 100%;
  border-radius: 45px;
}

.main .info3 .content {
  width: 60%;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main .info3 .content .content-title {
  font-size: var(--typography2-font-size);
  line-height: 56px;
  font-family: var(--primary-ff);
  font-weight: 700;
  color: var(--primary-color);
}

.main .info3 .content .content-text {
  font-family: var(--primary-ff);
  letter-spacing: 1.5px;
  max-width: 100%;
  line-height: 30px;
  font-size: var(--typography3-font-size);
  opacity: 0.7;
  margin-top: 50px;
}

/* info4 */

.main .info4 {
  width: 100vw;
  margin: auto;
  margin-top: 70px;
  background-color: rgba(183, 183, 183, 0.2);
}

.main .info4 .wrapper {
  width: 80vw;
  display: flex;
  margin: auto;
  padding-block: 50px;
}

.main .info4 .wrapper .image {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.main .info4 .wrapper .image img {
  width: 80%;
  border-radius: 45px;
}

.main .info4 .wrapper .content {
  width: 70%;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main .info4 .wrapper .content .content-title {
  font-size: var(--typography2-font-size);
  line-height: 56px;
  font-family: var(--primary-ff);
  font-weight: 700;
  color: var(--primary-color);
}

.main .info4 .wrapper .content .content-text {
  font-family: var(--primary-ff);
  letter-spacing: 1.5px;
  line-height: 30px;
  font-size: var(--typography3-font-size);
  opacity: 0.7;
  margin-top: 50px;
}

/* info5 */

.main .info5 {
  margin: auto;
  width: 80vw;
  display: flex;
  margin-top: 70px;
}

.main .info5 .image {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.main .info5 .image img {
  width: 100%;
  border-radius: 45px;
}

.main .info5 .content {
  width: 60%;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.main .info5 .content .content-title {
  font-size: var(--typography2-font-size);
  line-height: 56px;
  font-family: var(--primary-ff);
  font-weight: 700;
  color: var(--primary-color);
}

.main .info5 .content .content-links {
  font-family: var(--primary-ff);
  letter-spacing: 1.5px;
  line-height: 30px;
  font-size: var(--typography3-font-size);
  margin-top: 50px;
  margin-left: 50px;
}

.main .info5 .content .content-links li {
  margin: 6px;
}

.main .info5 .content .content-links li a {
  transition: all 0.2s;
  color: #000;
  opacity: 0.8;
}

.main .info5 .content .content-links li a:hover {
  color: var(--secondary-color);
}

/* info6 */

.main .info6 {
  margin: auto;
  width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 120px;
}

.main .info6 .info-title {
  font-size: var(--typography2-font-size);
  text-align: center;
  line-height: 56px;
  font-family: var(--primary-ff);
  font-weight: 700;
  color: var(--primary-color);
}

.main .info6 .info-list {
  font-family: var(--primary-ff);
  letter-spacing: 1.5px;
  line-height: 30px;
  font-size: var(--typography3-font-size);
  margin-top: 50px;
  margin-left: 50px;
  padding-inline: 40px;
}

.main .info6 .info-list li {
  margin: 20px;
  opacity: 0.7;
}

/* info7 */

.main .info7 {
  width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 120px;
}

.main .info7 .info-title {
  font-size: var(--typography2-font-size);
  text-align: center;
  line-height: 56px;
  font-family: var(--primary-ff);
  font-weight: 700;
  color: var(--primary-color);
}

.main .info7 .content {
  margin-top: 50px;
  width: 100%;
  padding-inline: 30px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  overflow: hidden;
}

.main .info7 .content .content-comment {
  width: 30%;
  /* background-color: #fff; */
  border-radius: 30px;
  padding: 70px 50px;
}

.main .info7 .content .content-comment .name {
  font-family: var(--primary-ff);
  font-size: 28px;
  font-weight: 500;
  color: var(--primary-color);
  margin-bottom: 20px;
}

.main .info7 .content .content-comment .comment {
  font-family: var(--primary-ff);
  font-size: 20px;
  opacity: 0.7;
  line-height: 28px;
  letter-spacing: 1.5px;
  margin-bottom: 20px;
}

.main .info7 .content .content-comment .client {
  font-family: var(--primary-ff);
  opacity: 0.8;
}

@media (max-width: 1350px) {
  .main .info1 {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .main .info2 {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .main .info2 .image {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }

  .main .info2 .image img {
    width: 100%;
    border-radius: 45px;
  }

  .main .info2 .content {
    width: 100%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .main .info3 {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .main .info3 .image {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }

  .main .info3 .image img {
    width: 100%;
    border-radius: 45px;
  }

  .main .info3 .content {
    width: 100%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .main .info4 .wrapper {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .main .info4 .wrapper .image {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }

  .main .info4 .wrapper .image img {
    width: 100%;
    border-radius: 45px;
  }

  .main .info4 .wrapper .content {
    width: 60%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .main .info5 {
    width: 100vw;
    display: flex;
    align-items: center;
  }

  .main .info5 .image {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }

  .main .info5 .image img {
    width: 100%;
    border-radius: 45px;
  }

  .main .info5 .content {
    width: 100%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .main .info6 {
    width: 100vw;
    display: flex;
    align-items: center;
  }

  .main .info7 {
    width: 100vw;
    display: flex;
    align-items: center;
  }
}

@media (max-width: 1000px) {
  .main .info1 {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .main .info2 {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .main .info2 .image {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }

  .main .info2 .image img {
    width: 70%;
    border-radius: 45px;
  }

  .main .info2 .content {
    width: 100%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .main .info3 {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .main .info3 .image {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }

  .main .info3 .image img {
    width: 70%;
    border-radius: 45px;
  }

  .main .info3 .content {
    width: 100%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .main .info4 .wrapper {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .main .info4 .wrapper .image {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }

  .main .info4 .wrapper .image img {
    display: none;
    width: 70%;
    border-radius: 45px;
  }

  .main .info4 .wrapper .content {
    width: 100%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .main .info5 {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .main .info5 .image {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }

  .main .info5 .image img {
    width: 70%;
    border-radius: 45px;
  }

  .main .info5 .content {
    width: 100%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .main .info6 {
    width: 100vw;
    display: flex;
    align-items: center;
  }

  .main .info7 {
    width: 100vw;
    display: flex;
    align-items: center;
  }
}

@media (max-width: 700px) {
  .hero {
    display: flex;
    width: 100vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-family: var(--primary-ff);
  }

  /* hero-content */

  .hero .hero-content {
    width: 100%;
    text-align: center;
    padding: 30px 45px;
  }

  /* hero-content-title */

  .hero .hero-content .hero-content-title {
    font-size: 30px;
    font-weight: 700;
    color: var(--primary-color);
  }

  /* hero-content-text */

  .hero .hero-content .hero-content-text {
    margin-top: 30px;
    margin-bottom: 50px;
    font-size: 16px;
    opacity: 0.7;
    line-height: 28px;
  }

  /* hero-content-contact */

  .hero .hero-content .hero-content-contact {
    background-color: var(--secondary-color);
    color: #fff;
    font-family: var(--primary-ff);
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.8px;
    border-radius: 20px;
    border: 3px solid var(--secondary-color);
    outline: none;
    cursor: pointer;
    transition: all 0.3s;
  }

  .hero .hero-content .hero-content-contact:hover {
    background-color: #fff;
    border: 3px solid var(--secondary-color);
    color: var(--secondary-color);
  }

  /* hero-image */

  .hero .hero-image {
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
  }

  .hero .hero-image img {
    width: 90%;
    bottom: 0;
  }

  .main .info1 {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .main .info1 .title {
    font-size: 23px;
    padding-inline: 30px;
    margin-bottom: 40px;
  }

  .main .info1 .content .content-title {
    font-size: 23px;
    font-family: var(--primary-ff);
    font-weight: 700;
    color: var(--primary-color);
  }

  .main .info1 .content .text {
    font-size: 16px;
    font-family: var(--primary-ff);
    opacity: 0.7;
    padding-inline: 30px;
    letter-spacing: 1.3px;
    line-height: 31px;
  }

  .main .info1 .content .contact {
    margin: auto;
    background-color: var(--secondary-color);
    color: #fff;
    font-family: var(--primary-ff);
    padding: 15px 30px;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.8px;
    border-radius: 20px;
    border: 3px solid var(--secondary-color);
    outline: none;
    cursor: pointer;
    transition: all 0.3s;
  }

  .main .info2 {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .main .info2 .image {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }

  .main .info2 .image img {
    width: 70%;
    border-radius: 45px;
  }

  .main .info2 .content {
    width: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .main .info2 .content .content-title {
    font-size: 23px;
    line-height: 35px;
    font-family: var(--primary-ff);
    font-weight: 700;
    color: var(--primary-color);
  }

  .main .info2 .content .content-text {
    font-size: 16px;
  }

  .main .info2 .content .content-free {
    font-size: 16px;
  }

  .main .info3 {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
  }

  .main .info3 .image {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }

  .main .info3 .image img {
    width: 70%;
    border-radius: 45px;
  }

  .main .info3 .content {
    width: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .main .info3 .content .content-title {
    font-size: 23px;
    line-height: 35px;
    font-family: var(--primary-ff);
    font-weight: 700;
    color: var(--primary-color);
  }

  .main .info3 .content .content-text {
    font-size: 16px;
  }

  .main .info4 .wrapper {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 0px;
  }

  .main .info4 .wrapper .image {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }

  .main .info4 .wrapper .image img {
    display: none;
    width: 70%;
    border-radius: 45px;
  }

  .main .info4 .wrapper .content {
    width: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .main .info4 .wrapper .content .content-title {
    font-size: 23px;
    line-height: 35px;
    font-family: var(--primary-ff);
    font-weight: 700;
    color: var(--primary-color);
  }

  .main .info4 .wrapper .content .content-text {
    font-size: 16px;
  }

  .main .info5 {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .main .info5 .image {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }

  .main .info5 .image img {
    width: 70%;
    border-radius: 45px;
  }

  .main .info5 .content {
    width: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .main .info5 .content .content-title {
    font-size: 23px;
    line-height: 35px;
    font-family: var(--primary-ff);
    font-weight: 700;
    color: var(--primary-color);
  }

  .main .info5 .content .content-text {
    font-size: 16px;
  }

  .main .info5 .content .content-links {
    font-family: var(--primary-ff);
    line-height: 30px;
    font-size: 16px;
  }

  .main .info6 {
    width: 100vw;
    display: flex;
    align-items: center;
  }

  .main .info6 .info-title {
    font-size: 23px;
    line-height: 35px;
    font-family: var(--primary-ff);
    font-weight: 700;
    color: var(--primary-color);
    padding-inline: 30px;
  }

  .main .info6 .info-list {
    font-size: 16px;
    margin-left: 0;
  }

  /* info7 */

  .main .info7 {
    width: 85vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 40px;
  }

  .main .info7 .info-title {
    font-size: 30px;
    text-align: center;
    line-height: 56px;
    font-family: var(--primary-ff);
    font-weight: 700;
    color: var(--primary-color);
  }

  .main .info7 .content {
    margin-top: 20px;
    width: 100%;
    padding-inline: 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    overflow: hidden;
  }

  .main .info7 .content .content-comment {
    width: 100%;
    /* background-color: #fff; */
    border-radius: 30px;
    padding: 30px 0px;
  }

  .main .info7 .content .content-comment .name {
    font-family: var(--primary-ff);
    font-size: 25px;
    font-weight: 500;
    color: var(--primary-color);
    margin-bottom: 20px;
  }

  .main .info7 .content .content-comment .comment {
    font-family: var(--primary-ff);
    font-size: 16px;
    opacity: 0.7;
    line-height: 28px;
    letter-spacing: 1.5px;
    margin-bottom: 20px;
  }

  .main .info7 .content .content-comment .client {
    font-family: var(--primary-ff);
    opacity: 0.8;
  }
}

@media (max-width: 365px) {
  /*  */
  .hero {
    display: flex;
    width: 100vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-family: var(--primary-ff);
  }

  /* hero-content */

  .hero .hero-content {
    width: 100%;
    text-align: center;
    padding: 30px 45px;
  }

  /* hero-content-title */

  .hero .hero-content .hero-content-title {
    font-size: 30px;
    font-weight: 700;
    color: var(--primary-color);
  }

  /* hero-content-text */

  .hero .hero-content .hero-content-text {
    margin-top: 30px;
    margin-bottom: 50px;
    font-size: 16px;
    opacity: 0.7;
    line-height: 28px;
  }

  /* hero-content-contact */

  .hero .hero-content .hero-content-contact {
    background-color: var(--secondary-color);
    color: #fff;
    font-family: var(--primary-ff);
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.8px;
    border-radius: 20px;
    border: 3px solid var(--secondary-color);
    outline: none;
    cursor: pointer;
    transition: all 0.3s;
  }

  .hero .hero-content .hero-content-contact:hover {
    background-color: #fff;
    border: 3px solid var(--secondary-color);
    color: var(--secondary-color);
  }

  /* hero-image */

  .hero .hero-image {
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
  }

  .hero .hero-image img {
    width: 90%;
    bottom: 0;
  }

  /* hero-content */

  .hero .hero-content {
    height: 100%;
    padding: 20px 20px;
  }

  .main .info1 .content .contact {
    margin: auto;
    background-color: var(--secondary-color);
    color: #fff;
    font-family: var(--primary-ff);
    padding: 15px 20px;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.8px;
    border-radius: 20px;
    border: 3px solid var(--secondary-color);
    outline: none;
    cursor: pointer;
    transition: all 0.3s;
  }

  /* hero-content-contact */

  .hero .hero-content .hero-content-contact {
    padding: 10px 15px;
    font-size: 11px;
    font-weight: 700;
    letter-spacing: 0.8px;
    border-radius: 20px;
    border: 3px solid var(--secondary-color);
    outline: none;
    cursor: pointer;
    transition: all 0.3s;
  }
}
