.main {
  background-color: #fff;
  /* background-color: #f9fafb; */
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}

.main .hero {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 70px 0px;
  background-color: var(--hero-color);
}

.main .hero .content {
  width: 75%;
  text-align: left;
}

.main .hero .content .title {
  font-family: var(--primary-ff);
  color: var(--primary-color);
  font-weight: 700;
  font-size: var(--typography6-font-size);
  padding-top: 0px;
  padding-bottom: 90px;
}

.main .hero .content .title span {
  color: var(--secondary-color);
}

.main .hero .content .text {
  font-family: var(--primary-ff);
  opacity: 0.7;
  font-size: var(--typography3-font-size);
  padding-bottom: 50px;
}

/* hero-content-contact */

.main .hero .content .contact {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* hero-content-contact-btn */

.main .hero .content .contact .contact-btn {
  background-color: var(--secondary-color);
  color: #fff;
  font-family: var(--primary-ff);
  padding: 15px 30px;
  font-size: var(--typography3-font-size);
  font-weight: 700;
  letter-spacing: 0.8px;
  border-radius: 20px;
  border: 3px solid var(--secondary-color);
  outline: none;
  cursor: pointer;
  transition: all 0.3s;
}

.main .hero .content .contact .contact-btn:hover {
  background-color: #fff;
  border: 3px solid var(--secondary-color);
  color: var(--secondary-color);
}

/* social */

.main .hero .content .contact .social {
  display: flex;
  z-index: 990;
}

.main .hero .content .contact .social .icons {
  margin-block: 40px;
  margin-inline: 5px;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  /* filter: grayscale(100%); */
  transition: all 0.3s ease;
}

.main .hero .content .contact .social .email {
  color: #fff;
  background-color: #0489c9;
}

.main .hero .content .contact .social .viber {
  color: #fff;
  background-color: #8f5db7;
}

.main .hero .content .contact .social .whatsup {
  color: #fff;
  background-color: #25d366;
}

.main .hero .content .contact .social .icons:hover {
  filter: grayscale(0);
  transform: rotate(-10deg);
}

@media only screen and (max-width: 1350px) {
  .main .hero .content .contact .social {
    display: none;
  }

  .main .hero .content .contact .social .icons {
    width: 50px;
    height: 50px;
    font-size: 21px;
  }
}

/* social-mobile */

.social-mobile {
  display: none;
  z-index: 990;
}

.icons {
  margin-block: 40px;
  margin-inline: 5px;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  /* filter: grayscale(100%); */
  transition: all 0.3s ease;
}

.call {
  color: #fff;
  background-color: var(--secondary-color);
}

.viber {
  color: #fff;
  background-color: #8f5db7;
}

.whatsup {
  color: #fff;
  background-color: #25d366;
}

.email {
  color: #fff;
  background-color: #0489c9;
}

.icons:hover {
  filter: grayscale(0);
  transform: rotate(-10deg);
}

@media only screen and (max-width: 1350px) {
  .social-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .icons {
    width: 50px;
    height: 50px;
    font-size: 21px;
  }
}

/* info1 */

.main .info1 {
  width: 75vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-block: 30px;
}

.main .info1 .text {
  font-size: var(--typography3-font-size);
  font-family: var(--primary-ff);
  opacity: 0.7;
  letter-spacing: 1.3px;
  line-height: 40px;
}

.main .info1 ol,
.main .info1 ul {
  font-size: var(--typography3-font-size);
  font-family: var(--primary-ff);
  letter-spacing: 1.3px;
  opacity: 0.7;
  line-height: 40px;
  margin-left: 50px;
}

.main .info1 .title {
  font-size: var(--typography4-font-size);
  font-family: var(--primary-ff);
  font-weight: 700;
  color: var(--primary-color);
  margin-block: 50px;
}

/* info2 */

.main .info2 {
  width: 75vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-block: 30px;
}

.main .info2 .text {
  font-size: var(--typography3-font-size);
  font-family: var(--primary-ff);
  opacity: 0.7;
  letter-spacing: 1.3px;
  line-height: 40px;
}

.main .info2 .title {
  font-size: var(--typography4-font-size);
  font-family: var(--primary-ff);
  font-weight: 700;
  color: var(--primary-color);
  margin-block: 50px;
}

/* info3 */

.main .info3 {
  width: 75vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-block: 30px;
}

.main .info3 .text {
  font-size: var(--typography3-font-size);
  font-family: var(--primary-ff);
  opacity: 0.7;
  letter-spacing: 1.3px;
  line-height: 40px;
}

.main .info3 ol,
.main .info3 ul {
  font-size: var(--typography3-font-size);
  font-family: var(--primary-ff);
  opacity: 0.7;
  letter-spacing: 1.3px;
  line-height: 40px;
  margin-left: 50px;
}

.main .info3 .title {
  font-size: var(--typography4-font-size);
  font-family: var(--primary-ff);
  font-weight: 700;
  color: var(--primary-color);
  margin-block: 50px;
}

/* info4 */

.main .info4 {
  width: 75vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-block: 30px;
}

.main .info4 .text {
  font-size: var(--typography3-font-size);
  font-family: var(--primary-ff);
  opacity: 0.7;
  letter-spacing: 1.3px;
  line-height: 40px;
}

.main .info4 .title {
  font-size: var(--typography4-font-size);
  font-family: var(--primary-ff);
  font-weight: 700;
  color: var(--primary-color);
  margin-block: 50px;
}

/* info5 */

.main .info5 {
  width: 75vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-block: 30px;
}

.main .info5 .text {
  font-size: var(--typography3-font-size);
  font-family: var(--primary-ff);
  opacity: 0.7;
  letter-spacing: 1.3px;
  line-height: 40px;
}

.main .info5 ol,
.main .info5 ul {
  font-size: var(--typography3-font-size);
  font-family: var(--primary-ff);
  letter-spacing: 1.3px;
  opacity: 0.7;
  line-height: 40px;
  margin-left: 50px;
}

.main .info5 .title {
  font-size: var(--typography4-font-size);
  font-family: var(--primary-ff);
  font-weight: 700;
  color: var(--primary-color);
  margin-block: 50px;
}

@media (max-width: 700px) {
  .main {
    background-color: #fff;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .main .hero {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--hero-color);
  }

  .main .hero .content {
    width: 85%;
  }

  .main .hero .content .title {
    font-family: var(--primary-ff);
    color: var(--primary-color);
    font-weight: 700;
    font-size: 30px;
    padding-top: 15px;
    padding-bottom: 0px;
  }

  .main .hero .content .title span {
    color: var(--secondary-color);
  }

  .main .hero .content .text {
    font-size: 16px;
    padding-top: 50px;
    padding-bottom: 80px;
    line-height: 30px;
  }

  /* contact */

  .main .hero .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .main .hero .content .contact .contact-btn {
    margin: auto;
    background-color: var(--secondary-color);
    color: #fff;
    font-family: var(--primary-ff);
    padding: 15px 30px;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.8px;
    border-radius: 20px;
    border: 3px solid var(--secondary-color);
    outline: none;
    cursor: pointer;
    transition: all 0.3s;
  }

  /* info1 */

  .main .info1 {
    width: 85vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-block: 30px 0px;
  }

  .main .info1 .text {
    font-size: 16px;
    font-family: var(--primary-ff);
    opacity: 0.7;
    letter-spacing: 1.3px;
    line-height: 30px;
  }

  .main .info1 ol,
  .main .info1 ul {
    font-size: 16px;
    font-family: var(--primary-ff);
    letter-spacing: 1.3px;
    opacity: 0.7;
    line-height: 30px;
    margin-left: 50px;
  }

  .main .info1 .title {
    font-size: 30px;
    font-family: var(--primary-ff);
    font-weight: 700;
    color: var(--primary-color);
    margin-block: 30px;
  }

  /* info2 */

  .main .info2 {
    width: 85vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-block: 30px 0px;
  }

  .main .info2 .text {
    font-size: 16px;
    font-family: var(--primary-ff);
    opacity: 0.7;
    letter-spacing: 1.3px;
    line-height: 30px;
  }

  .main .info2 .title {
    font-size: 30px;
    font-family: var(--primary-ff);
    font-weight: 700;
    color: var(--primary-color);
    margin-block: 30px;
  }

  /* info3 */

  .main .info3 {
    width: 85vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-block: 30px 0px;
  }

  .main .info3 .title {
    font-size: 30px;
    font-family: var(--primary-ff);
    font-weight: 700;
    color: var(--primary-color);
    margin-block: 30px;
  }

  .main .info3 .text {
    font-size: 16px;
    font-family: var(--primary-ff);
    opacity: 0.7;
    letter-spacing: 1.3px;
    line-height: 30px;
  }

  /* info4 */

  .main .info4 {
    width: 85vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-block: 30px 0px;
  }

  .main .info4 .text {
    font-size: 16px;
    font-family: var(--primary-ff);
    opacity: 0.7;
    letter-spacing: 1.3px;
    line-height: 30px;
  }

  .main .info4 .title {
    font-size: 30px;
    font-family: var(--primary-ff);
    font-weight: 700;
    color: var(--primary-color);
    margin-block: 30px;
  }

  /* info5 */

  .main .info5 {
    width: 85vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-block: 30px 0px;
  }

  .main .info5 .text {
    font-size: 16px;
    font-family: var(--primary-ff);
    opacity: 0.7;
    letter-spacing: 1.3px;
    line-height: 30px;
  }

  .main .info5 ol,
  .main .info5 ul {
    font-size: 16px;
    font-family: var(--primary-ff);
    letter-spacing: 1.3px;
    opacity: 0.7;
    line-height: 30px;
    margin-left: 50px;
  }

  .main .info5 .title {
    font-size: 30px;
    font-family: var(--primary-ff);
    font-weight: 700;
    color: var(--primary-color);
    margin-block: 30px;
  }
}

@media (max-width: 365px) {
  .main .hero .content .contact .contact-btn {
    padding: 10px 15px;
    font-size: 11px;
    font-weight: 700;
    letter-spacing: 0.8px;
    border-radius: 20px;
    border: 3px solid var(--secondary-color);
    outline: none;
    cursor: pointer;
    transition: all 0.3s;
  }
}
