.container {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.destinations {
  margin-top: 50px;
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media only screen and (max-width: 480px) {
  .container {
    width: 100%;
  }

  .destinations {
    width: 100%;
  }
}

@media only screen and (min-width: 1340px) {
  .destinations {
    width: 65%;
  }
}
