.whatsAppBtn {
  display: none;
  cursor: pointer;
  z-index: 1000;
}

.circle {
  position: fixed;
  right: 1rem;
  bottom: 10.5rem;
  background-color: #25d366;
  width: 58px;
  height: 58px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 27px;
  color: var(--secondary-color);
  border-radius: 50%;
  z-index: 200;
}

.circle i {
  color: white;
  animation-name: stretch;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-play-state: running;
}

@keyframes stretch {
  0% {
    transform: scale(0.98) rotate(10deg);
  }

  100% {
    transform: scale(1.1);
  }
}

@media (max-width: 1350px) and (max-height: 1170px) {
  .whatsAppBtn {
    display: block;
  }
}
