.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin-top: 80px;
  margin-bottom: 20px;
  font-size: 40px;
}

.tekst {
  max-width: 650px;
  letter-spacing: 1px;
  font-size: 17px;
}

.image {
  margin: 40px 0;
  border-radius: 7px;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media only screen and (max-width: 480px) {
  .page {
    text-align: center;
  }

  .title {
    margin-top: 100px;
  }

  .title,
  .tekst {
    width: 90%;
  }
}

@media only screen and (min-width: 481px) and (max-width: 767px) {
  .page {
    width: 80%;
    margin: auto;
    text-align: center;
  }

  .title {
    margin-top: 100px;
  }
}
