.social {
  position: fixed;
  top: 15%;
  right: 5px;
  display: flex;
  flex-direction: column;
  z-index: 8;
}

.icons {
  width: 45px;
  filter: grayscale(100%);
  transition: all 0.3s ease;
}

.icons:hover {
  filter: grayscale(0);
  transform: rotate(-10deg);
}

@media only screen and (max-width: 800px) {
  .social {
    display: none;
  }

  .icons {
    width: 35px;
  }
}



