.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main .content {
  width: 100%;
  margin-top: 35px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--secondary-color);
  /* border-bottom: 5px solid var(--third-color); */
}

.main .content .contentItem,
.main .content .contentImage {
  height: 700px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.main .content .contentItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.main .content .contentItem .contentTitle {
  font-family: var(--primary-ff);
  font-size: 80px;
  color: #fff;
  margin-top: 60px;
}

.main .content .contentItem:nth-child(3) .contentTitle,
.main .content .contentItem:nth-child(3) .contentItems {
  color: #111;
}

.main .content .contentItem .contentItems {
  width: 80%;
  height: 60%;
  color: #fff;
  margin-top: 90px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 50px;
}

.main .content .contentItems .item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main .content .contentItems .item h3 {
  font-family: var(--primary-ff);
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}

.main .content .contentItems .item p {
  text-align: center;
  font-size: 14px;
  font-family: var(--primary-ff);
}

.main .quote {
  margin: 30px;
  font-size: 80px;
  font-family: var(--third-ff);
  font-weight: 600;
  color: var(--forth-color);
  margin-top: 60px;
  margin-bottom: 60px;
}

.comments {
  width: 100vw;
  height: 500px;
  background-color: #fff;
  border-block: 5px solid var(--third-color);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
