.main {
  background-color: #fff;
  /* background-color: #f9fafb; */
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* info */

.main .info1 {
  width: 80vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 90px;
}

.main .info1 .title {
  font-size: 50px;
  font-family: var(--primary-ff);
  font-weight: 700;
  color: var(--primary-color);
  margin-bottom: 80px;
}

.main .info1 .content {
  width: 50%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 80px;
  gap: 25px;
}

.main .info1 .content .content-small-title {
  font-size: 25px;
  font-family: var(--primary-ff);
  font-weight: 700;
  color: var(--secondary-color);
}

.main .info1 .content .content-title {
  font-size: 70px;
  font-family: var(--primary-ff);
  font-weight: 700;
  color: var(--primary-color);
}

.main .info1 .content .content-text {
  font-size: 25px;
  max-width: 600px;
  font-family: var(--primary-ff);
  opacity: 0.7;
  letter-spacing: 1.3px;
  line-height: 31px;
}

.main .info1 .image {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.main .info1 .image img {
  width: 85%;
  border-radius: 45px;
}
