.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--primary-ff);
  z-index: 1000;
  background-color: var(--primary-color);
}

.background {
  position: fixed;
  top: -120px;
  left: 0;
  right: 0;
  width: 100vw;
  height: 350px;
  background-image: url('../../assets/bg4.png');
  background-repeat: no-repeat;
  z-index: -10;
}

.links a {
  margin-inline: 25px;
  text-decoration: none;
  color: #171717;
  font-size: 18px;
  font-weight: 600;
  padding: 10px;
  z-index: 200;
  transition: all 0.2s;
}

.links a:hover {
  color: var(--hover-color);
}

.links a.active {
  color: var(--hover-color);
}

.links a i {
  margin-right: 5px;
}

.logo img {
  margin-inline: 25px;
  height: 90px;
}

.hamburger {
  cursor: pointer;
}

.hamburger input {
  display: none;
}

.hamburger svg {
  /* The size of the SVG defines the overall size */
  height: 6em;
  /* Define the transition for transforming the SVG */
  -webkit-transition: -webkit-transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
  fill: none;
  stroke: var(--secondary-color);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 3;
  /* Define the transition for transforming the Stroke */
  -webkit-transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
  stroke-dasharray: 12 63;
}

.hamburger input:checked + svg {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.hamburger input:checked + svg .line-top-bottom {
  stroke-dasharray: 20 300;
  stroke-dashoffset: -32.42;
}

.side-bar-container {
  height: 100vh;
  width: 80vw;
  position: fixed;
  top: 120px;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  font-family: var(--primary-ff);
  background-color: var(--primary-color);
  transform: translateX(80vw);
  transition: all 0.5s;
  z-index: 1000;
}

.side-bar-container-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 80px;
}

.side-bar-container-links a {
  margin-inline: 25px;
  text-decoration: none;
  color: #171717;
  font-size: 35px;
  font-weight: 600;
  padding: 10px;
  z-index: 200;
  transition: all 0.2s;
}

.side-bar-container-links a:hover {
  color: var(--hover-color);
}

.side-bar-container-links a.active {
  color: var(--hover-color);
}

.side-bar-container-links a i {
  margin-right: 5px;
}

.side-bar-container-logo img {
  margin-inline: 25px;
  margin-bottom: 150px;
  display: none;
}

.hamburger-container {
  display: none;
  position: fixed;
  top: 10px;
  right: 40px;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
}

.social a {
  text-decoration: none;
}

.social i {
  font-size: 45px;
  margin-block: 160px;
  color: #171717;
  transition: all 0.2s;
  margin-inline: 20px;
}

.social i:hover {
  color: var(--hover-color);
}

@media (min-width: 816px) {
  .hamburger-container {
    display: none;
  }
}

@media (max-width: 816px) {
  .links a {
    margin-inline: 15px;
  }

  .links a {
    display: none;
  }

  .logo img {
    display: none;
  }

  .background {
    background-image: none;
  }

  .hamburger-container {
    display: block;
  }
}

@media (max-width: 738px) {
  .links a {
    margin-inline: 10px;
  }
}

@media (max-width: 772px) {
  .links a {
    display: none;
  }

  .logo img {
    display: none;
  }
}
