.title {
  width: 55vw;
  text-align: center;
  font-size: 60px;
  color: #171717;
  font-family: var(--secondary-ff);
  border-bottom: 5px solid #f2e8cf;
  padding-bottom: 15px;
}

.desctiption {
  max-width: 50vw;
  margin-top: 70px;
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 23px;
  margin-bottom: 100px;
}

@media (max-width: 1222px) {
  .title {
    width: 75vw;
  }

  .desctiption {
    max-width: 80vw;
  }
}
