.card {
  width: 300px;
  height: 180px;
  border-radius: 5%;
  background: #f5f5f5;
  position: relative;
  padding: 10px;
  border: 2px solid #c3c6ce;
  transition: 0.5s ease-out;
  overflow: visible;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

.cardLink {
  text-decoration: none;
}

.card-details {
  margin-top: 5px;
  color: black;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-button {
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  transform: translate(-50%, 125%);
  width: 60%;
  border-radius: 7px;
  border: none;
  background-color: #171717;
  color: #fff;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  position: absolute;
  left: 50%;
  bottom: 0;
  opacity: 0;
  transition: 0.3s ease-out;
}

.card-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-image {
  border-radius: 5%;
  border: 2px solid #c3c6ce;
  width: 80px;
  height: 80px;
  margin-right: 8px;
}

.text-body {
  color: rgb(134, 134, 134);
  text-align: center;
  font-size: 20px;
}

/*Text*/
.text-title {
  font-weight: bold;
  font-size: 22.5px;
  font-family: 'Josefin Sans', sans-serif;
  line-height: 1.3;
  text-align: center;
}

/*Hover*/
.card:hover {
  border-color: #ff9600;
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}

.card:hover .card-button {
  transform: translate(-50%, -20%);
  opacity: 1;
}

.card .card-button:hover {
  transform: translate(-50%, -30%);
}

@media only screen and (max-width: 1250px) {
  .text-body {
    text-align: center;
  }
}

@media only screen and (max-width: 850px) {
  .text-body {
    text-align: center;
  }
}

@media only screen and (max-width: 570px) {
  .card {
    width: 210px;
    height: auto;
  }

  .card-box {
    flex-direction: column;
  }

  .card-image {
    margin-bottom: 8px;
  }

  .text-title {
    text-align: center;
    font-size: 14px;
    margin-bottom: 15px;
  }

  .text-body {
    text-align: center;
  }
}

@media only screen and (max-width: 1330px) {
  .card {
    border-color: #ff9600;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
  }
  .card-button {
    transform: translate(-50%, -30%);
    opacity: 0;
  }
}
